#container{
  width: 1200px;
  margin: auto;
  Background: grey;

}
#nav{
  width: 25%;
  float: left;
  Background: blue;
  text-align: center;
}
#Header{
  width: 50%;
  float: left;
  background: Orange;
  text-align: center;
}
#Blackilne{
  width: 100%;
  background: Black;

}
#ads
